 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto:wght@400;700;900&display=swap');
*,*::before,*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.HomePage-Header, .BackgroundImg{
    height:100vh;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(82, 71, 161);
    background-image:url('./Images/background/Man_riding_camel_in_desert_night_generated.jpg')
}
.background-Tint{
   
}
/*Navigation Bar */
.Nav-Container{
    padding: 2em 0;
    display: flex;
    gap: 15%;
    align-items: center;
    justify-content: space-evenly;
}
.Nav-Logo img{
    width:4em;
}
.Nav-Links{
    display: flex;
    gap: 4em;
    align-items: center;
}
.Nav-Buttons a, .Nav-Links a{
    text-decoration: none;
  

    font-size: 1.2rem;
}.Nav-Links a{
    color: rgb(206, 206, 206);
}
.Nav-Links a.active{
    color: white;
    font-weight: bold;
}


.Nav-Buttons a{
    background-color: goldenrod;
    padding: 0.7em 2em;
    color: white;
    border-radius: 25px;
    font-weight: bold;
    text-transform: uppercase;

}
.Nav-Buttons a:hover{
    box-shadow: 0px 1px 9px 1px goldenrod;
}
/*Navigation Bar */
/* Home Page */
.HomePage-Front{
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top:10%;
    gap: 1em;
}
.HomePage-Front h1{
    font-size: 5rem;
    text-transform: capitalize;

}
.HomePage-Front p{
    width: 40%;
    font-size: 1.5rem;
}
.HomePage-Front a{
    color: white;
    background-color: goldenrod;
    padding: 1em 2em;
    font-size: 1rem;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    transition: transform 200ms ease-in-out;
    text-decoration: none;
}
.HomePage-Front a:hover{
    box-shadow: 0px 1px 9px 1px goldenrod;
    transform: scale(1.05);
}
.MoreInfo-Container-Outter{
    text-align: center;
    font-size: 2rem;
    background-color: #dee1ec;
    text-transform: capitalize;
}
.MoreInfo-Container-Outter h2{
    padding-top: 5em;
}
/* Home Page */
/*More Info */
.MoreInfo-Container-Inner{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
    flex-wrap: wrap;
}
.IconCard-Container img{
    width: 8em;
    padding: 1em;
    border-radius: 50%;
}
.IconCard-Container h3{
    font-size: 1.5rem;
}
/*More Info */
/*Prayer Times */


.PrayerTimesBackground{
    background: hsla(41, 100%, 69%, 1);
    background: hsla(41, 100%, 69%, 1);
    background: linear-gradient(180deg, hsla(41, 100%, 69%, 1) 25%, hsla(14, 83%, 60%, 1) 68%, hsla(14, 83%, 60%, 1) 92%);
    background: -moz-linear-gradient(180deg, hsla(41, 100%, 69%, 1) 25%, hsla(14, 83%, 60%, 1) 68%, hsla(14, 83%, 60%, 1) 92%);
    background: -webkit-linear-gradient(180deg, hsla(41, 100%, 69%, 1) 25%, hsla(14, 83%, 60%, 1) 68%, hsla(14, 83%, 60%, 1) 92%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFCE61", endColorstr="#EE6C45", GradientType=1 );
    width:40%;
    height: 13vh;
    margin: 0 auto;
    border-radius: 50px;
    display: flex;
    padding-left: 5em;
    position: relative;
}
.PrayerTimesBackground img{
    width: 15em;
    bottom: -2.5em;
    right: 0;
    position: absolute;
}
.PrayerTimesBackground-Timing{
    display: flex;
    color: #c13106;
    font-size: 1.2rem;
    flex-direction: column;
    justify-content: center;

}
.PrayerTimesBackground-Timing p{
    font-size: 2.5rem;
    font-weight: bold;

}
.PrayerTimes-Times{
    background-color:#c6ceee;
    width:40%;
    color: #25336d;
    margin: 3em auto 0 auto;

    border-radius: 50px;
}
.PrayerTimes-Prayer{
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1.8em 2em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    transition: 200ms ease-in-out;
}
.PrayerTimes-Prayer:hover{
    background-color: #25336d;
    color: #c6ceee;
}
.PrayerTimes-Prayer:last-child{
    border: none;
}
.PrayerTimes-Location{
    background-color: #25336d;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    color:#c6ceee;
    font-size: 1.2rem;
    padding: 0.5em 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5em;
}
.PrayerTimes-Location svg{
    cursor: pointer;
}
.BackgroundImg{
    background-color: white;
}
/*Prayer Times */